trigger:
  - main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Build
    jobs:
      - job: Build
        steps:
          - task: JavaToolInstaller@0
            inputs:
              versionSpec: '17'
              jdkArchitectureOption: 'x64'
              jdkSourceOption: 'PreInstalled'
          - task: Maven@3
            inputs:
              mavenPomFile: 'Web/WEB-INF/Advancedsoft/pom.xml'
              mavenOptions: '-Xmx3072m'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '17'
              jdkArchitectureOption: 'x64'
              publishJUnitResults: true
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              goals: 'package'
#maven
# - task: CopyFiles@2
#   inputs:
#     Contents: '**'
#     TargetFolder: 'Web/WEB-INF/Advancedsoft/target'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'Web/WEB-INF/Advancedsoft/target'
    ArtifactName: 'drop'
    publishLocation: 'Container'
